################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab6_OOP_Git.slnx/FileContentIndex/1aa52906-3271-4dbc-810b-398819051634.vsidx
/.vs/Lab6_OOP_Git.slnx/FileContentIndex/3eb7e900-287b-4abf-b108-a1fdd3fc34b4.vsidx
/.vs/Lab6_OOP_Git.slnx/FileContentIndex/bbf3ab71-6ccc-4a4f-88c2-64ef10c647c5.vsidx
/.vs/Lab6_OOP_Git.slnx/FileContentIndex/b8f093ce-7918-486d-9bce-097af767e3fe.vsidx
/.vs/Lab6_OOP_Git.slnx/FileContentIndex/c20b866f-cc4f-4b7c-898d-024fe62b5880.vsidx
/.vs/Lab6_OOP_Git.slnx/FileContentIndex/7b89d7dd-38f7-4f20-a921-0759cfbca7b5.vsidx
/.vs/Lab6_OOP_Git.slnx/FileContentIndex/d01e3eaf-c7a7-4c4a-933f-8d02dbc187c9.vsidx
.vs/Lab6_OOP_Git.slnx/FileContentIndex/97d5fe8b-2dd7-48ed-b82f-36e93fb921a7.vsidx
.vs/Lab6_OOP_Git.slnx/FileContentIndex/14f8db3d-3c03-4137-be1f-f5d01531ffef.vsidx
.vs/Lab6_OOP_Git.slnx/FileContentIndex/de719c7e-ce1d-43a6-9665-4c03c84e902f.vsidx
