################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab6_OOP_Git.slnx/FileContentIndex/1aa52906-3271-4dbc-810b-398819051634.vsidx
